*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
   min-height: 40%;
   min-width: 50%;
   display: flex;
   flex-direction: column;
   padding: 4em;
   max-width: 100em;
   border-radius: 25px;
   background-color: #0e20ec;
}

.taskAdd{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 26px;
}

#add{
    width: 3rem;
    margin: 1em;
}
#taskInput{
     margin: 1em 0em 1em 1em;
     resize: none;
     height: 90%;
     width: 100%;
     text-align: center;
     font-size: 1em;
     outline: none;
     border: none;
}

.taskContainer{
    width: auto;
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin-top: 2rem;
    border-radius: 26px;
}

.imageContainer{
    display: flex;
    margin: 1em;
    justify-content: space-around;
    min-width: 20%;
   
}
.tasks{
    width: 100%;
    height: 3rem;
    resize: none;
    margin-left: 1rem;
    outline: none;
    border: none;
    justify-content: center;
    overflow: hidden;
}
#comp, #del{
    width: 2rem;
}
